{% extends 'curso/layout.html' %}

{% block content %}
    <h2>Detalhes do Docente</h2>
    <h3>{{ docente.nome }}</h3>
    <h4>Disciplinas:</h4>
    <ul>
        {% for disciplina in disciplinas %}
            <li><a href="{% url 'curso:disciplina'  disciplina.id %}">
                {{ disciplina.nome }}</a></li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
        <a href="{% url 'curso:edita_docente'  docente.id %}">
            <button>Editar Docente</button>
        </a>
        <form action="{% url 'curso:apaga_docente' docente.id %}" method="post"
              onsubmit="return confirm('Tem certeza que deseja apagar o docente?');">
            {% csrf_token %}
            <button type="submit">Apagar Docente</button>
        </form>
    {% endif %}
{% endblock %}
