{% extends 'curso/layout.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'curso:nova_linguagem_programacao' %}">
            <button>Nova Linguagem de Programação</button>
        </a>
    {% endif %}
    <h2>Lista de Linguagens de Programação</h2>
    <ul>
        {% for linguagem in linguagens_programacao %}
            <li>
                <h3>{{ linguagem.nome }}</h3>
                <ul>

                    {% for projeto in linguagem.projetos.all %}
                        <li>
                            <a href="{% url 'curso:projetos' %}">
                                {{ projeto.descricao }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% if request.user.is_authenticated %}
                <a href="{% url 'curso:edita_linguagem_programacao'  linguagem.id %}">
                    <button>Editar Linguagem</button>
                </a>
                <form action="{% url 'curso:apaga_linguagem_programacao' linguagem.id %}" method="post"
                      onsubmit="return confirm('Tem certeza que deseja apagar a linguagem?');">
                    {% csrf_token %}
                    <button type="submit">Apagar Linguagem</button>
                </form>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
