{% extends 'bandas/layout.html' %}

{% block content %}
    <h3>{{ banda }}</h3>
    {% if banda.foto %}
        <img src='{{ banda.foto.url }}' width="300px">
    {% else %}
        <img src='no_image.jpg' width="300px">
    {% endif %}
    <p><b> Descrição: </b>{{ banda.descricao }}</p>
    <p><b> Primeiro lançamento: </b>{{ banda.lancamento_primeiro_album }}</p>

    <p><b> Lista de albuns ({{ albuns|length }}): </b></p>
    <ul>
        {% for album in albuns %}
            <li>
                <a href="{% url 'bandas:album' album.id %}">{{ album.titulo }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
        <p><b>Opções do editor:</b></p>
        <ul>
            <li><a href="{% url 'bandas:novo_album' banda.id %}">
                <button>Criar novo album</button>
            </a></li>
            <li><a href="{% url 'bandas:apaga_banda' banda.id %}">
                <button>Apagar banda e os seus albuns</button>
            </a></li>
        </ul>


    {% endif %}
{% endblock %}