<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="/bandas/estilos.css">
    <title>App Bandas</title>
</head>
<body>
<header>
    <a href="{% url 'bandas:index' %}"><h1>Aplicação Bandas</h1></a>

</header>

<main>
    <nav>
        {% if user.is_authenticated %}
            - <a href="{% url 'autenticacao:logout' %}">Logout</a>
        {% else %}
            - <a href="{% url 'autenticacao:login' %}">Login</a>
            - <a href="{% url 'autenticacao:registo' %}">Registo</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}

</main>

<footer>
    <p>Sebastião Coelho - 2024</p>
</footer>
</body>
</html>