{% extends "bandas/layout.html" %}

{% block content %}
    <h3><a href="{% url 'bandas:banda' musica.album.banda.id %}">{{ musica.album.banda.nome }}</a> - <a
            href="{% url 'bandas:album' musica.album.id %}">{{ album.titulo }}</a> - {{ musica.titulo }}</h3>
    <p><b>Ano lançamento do album: </b>{{ album.lancamento }}</p>
    <p><b>Duração: </b> {{ musica.duracao }} </p>
    <p><b>Link do Spotify: </b><a href="{{ musica.link_spotify }}}" target="_blank">aqui</a></p>
    {% if musica.letra %}
    <p><b>Letra: </b> {{ musica.letra | linebreaks }} </p>
    {% endif %}
    {% if request.user.is_authenticated %}
        <p><b>Opções do editor:</b></p>
        <ul>
            <li><a href="{% url 'bandas:edita_musica' musica.id %}">
                <button>Editar musica</button>
            </a></li>
            <li>
                <form action="{% url 'bandas:apaga_musica' musica.id %}" method="post"
                      onsubmit="return confirm('Tem certeza que deseja apagar a musica?');">
                    {% csrf_token %}
                    <button type="submit">Apagar musica</button>
                </form>
            </li>
        </ul>
    {% endif %}
{% endblock %}