{% extends "meteo/layout.html" %}

{% block content %}
<div class="weather-container">
    <h1>Previsão do Tempo para {{ cidade }} Hoje</h1>
    <div class="weather-info">
        <img src="{{ icon_url }}" class="weather-icon" alt="Icone de tempo">
        <div class="weather-details">
            <p>Data: {{ dataDeHoje }}</p>
            <p>Temperatura Mínima: {{ min_temp }}°C</p>
            <p>Temperatura Máxima: {{ max_temp }}°C</p>
            <p>Descrição do Tempo: {{ descricaoTempo }}</p>
        </div>
    </div>
</div>
{% endblock %}
