{% extends "meteo/layout.html" %}

{% block content %}
    <div class="content-wrapper">
        <h1>Previsão do Tempo para {{ city }} nos Próximos 5 Dias</h1>

        {% if days %}
            <div class="weather-forecast">
                {% for day in days %}
                    <div class="weather-day">
                        <p>Data: {{ day.forecastDate|date:"Y-m-d" }}</p>
                        <img src="{{ day.image }}" class="weather-icon" alt="Icone de tempo">
                        <p>Temperatura Mínima: {{ day.tMin }}°C</p>
                        <p>Temperatura Máxima: {{ day.tMax }}°C</p>
                        <p>Descrição do Tempo: {{ day.weatherType }}</p>
                        <p>Velocidade do Vento: {{ day.windSpeed }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Não há previsão disponível para os próximos 5 dias.</p>
        {% endif %}
    </div>
{% endblock %}
