{% extends "meteo/layout.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Previsão do Tempo para os Próximos 5 Dias em Lisboa</h1>

    {% if previsao_proximos_5_dias %}
        {% for dia in previsao_proximos_5_dias %}
            <div class="weather-container">
                <div class="weather-info5">
                    <img src="{{ dia.icon_url }}" class="weather-icon5" alt="Icone de tempo">
                    <div class="weather-details5">
                        <h2>{{ dia.data }}</h2>
                        <p class="weather-item5">Temperatura Mínima: {{ dia.min_temp }}°C</p>
                        <p class="weather-item5">Temperatura Máxima: {{ dia.max_temp }}°C</p>
                        <p class="weather-item5">Descrição do Tempo: {{ dia.descricaoTempo }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Não há previsão disponível para os próximos 5 dias.</p>
    {% endif %}
</div>
{% endblock %}
