/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

header {
    position: relative;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    position: fixed; /* Fixa o menu no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o menu esteja acima de outros elementos */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background: #444;
    border-radius: 5px;
}

.hero-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px); /* Ajusta a altura da imagem hero para compensar o menu */
    overflow: hidden;
    margin-top: 50px; /* Ajusta a margem superior para compensar o menu fixo */
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1; /* Garante que o conteúdo esteja acima da imagem */
    color: white; /* Ajuste a cor do texto para que contraste com a imagem */
    text-align: center; /* Centraliza o texto, ajuste conforme necessário */
    padding: 20px; /* Adiciona algum espaçamento interno */
    top: 50%; /* Centraliza verticalmente o conteúdo */
    transform: translateY(-50%); /* Ajusta a posição do conteúdo */
}

.hero-content h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.about-me, .web-projects, .my-links {
    text-align: center; /* Centraliza o texto das seções */
    padding: 20px; /* Adiciona algum padding para as seções */
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #333;
    text-decoration: none
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

main {
    margin: 0; /* Remove a margem padrão */
    padding: 20px; /* Adiciona algum padding ao redor do conteúdo */
}

/* About Me Section */
.about-me-content {
    display: flex;
    flex-direction: column; /* Alinha a imagem e o texto verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    max-width: 800px; /* Define uma largura máxima para centralizar o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.about-me-image {
    max-width: 200px;
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

.about-me-text {
    max-width: 600px;
    text-align: left; /* Ajuste o alinhamento do texto conforme necessário */
}

.about-me-menu {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
}

.tablink {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px; /* Ajusta a margem para espaçar os botões */
}

.tablink:hover {
    background-color: #555;
}

.tabcontent {
    display: none;
    padding: 20px 0;
}

.tabcontent h3 {
    margin-bottom: 10px;
}

#top.hero-container a {
    display: inline-block; /* Faz com que o link se comporte como um botão */
    color: #fff; /* Cor do texto dos botões */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px 15px; /* Espaçamento interno dos botões */
    border-radius: 5px; /* Bordas arredondadas dos botões */
    background-color: rgba(128, 128, 128, 0.5); /* Cor de fundo cinza transparente */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição para hover */
}

#top.hero-container a:hover {
    background-color: rgba(128, 128, 128, 0.7); /* Cor de fundo cinza transparente ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}
.about-me-image {
    max-width: 600px; /* Ajusta o tamanho máximo da imagem para 300px */
    width: 100%; /* Garante que a imagem não ultrapasse o tamanho máximo */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}