/* artigos.css */

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container Principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; /* Espaço nas laterais */
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

/* Header - Título */
header h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilo do link no Header */
header a {
    color: white; /* Cor do texto do link */
    text-decoration: none; /* Remove sublinhado do link */
    display: inline-block; /* Ajusta o layout do link */
}

header a:hover h1 {
    color: #1DB954; /* Cor do texto ao passar o mouse */
}

/* Remove a cor azul após clicar no link */
header a:visited {
    color: white; /* Mantém a cor branca após o clique */
}

/* Navegação */
nav {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
}

nav button {
    background: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background: #1a9c40;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para Listas */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Links em Listas */
li a {
    color: #1DB954;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

/* Títulos */
h2, h3 {
    color: #1DB954;
}

/* Botões */
button {
    background: #1DB954;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1a9c40;
}

/* Formulários */
form {
    display: inline;
}

form button {
    background: #d9534f;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #c9302c;
}

/* Conteúdo do Artigo */
div {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Comentários */
h3 {
    margin-top: 20px;
}

li {
    margin-bottom: 15px;
}

.comment-actions {
    margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    header, footer {
        text-align: center;
    }

    nav button {
        display: block;
        margin: 5px auto;
    }
}
