<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel de Nata</title>
    <style>
        body {
            background: beige;
            color: darkgreen;
        }
    </style>
</head>
<body>
<header>
    <h1>Pratos Típicos Portugueses</h1>
    <nav>
        <a href="{% url 'novaapp:index' %}">Home</a>
        <a href="{% url 'novaapp:pastel_de_nata' %}">Pastel de Nata</a>
        <a href="{% url 'novaapp:bacalhau_a_bras' %}">Bacalhau à Brás</a>
    </nav>
</header>

<main>
    <h2>Pastel de Nata</h2>
    <p>Receita do Pastel de Nata...</p>
</main>

<footer>
    <p>&copy; 2024 Pratos Típicos Portugueses</p>
</footer>
</body>
</html>
