/*Classe*/

body {
    font-family: "Courier New", serif;
    background: #121212;
    color: white;
}

header {
    background: #1DB954;
    color: #191414;
}

a {
    color: white;
}

button {
    background: #1DB954;
    color: white;
}



.errorlist {
    display: none;
}